body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #fff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 24px;
    background-color: #fff;
    border: 2px solid black;

}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
